{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <style>
        .fc-event {
            height: 2em;
        }
    </style>
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Data</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a>
                        </li>
                        <li>Data</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!-- Content Wrapper. Contains page content -->
    <div id="container" class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p class="lead">All sky imager data collected at S. J. do Cariri from 2011
                        up to the present date are available on line in the EMBRACE webpage:
                        <a href="http://www2.inpe.br/climaespacial/portal/en/">
                            http://www2.inpe.br/climaespacial/portal/en/ </a>
                    </p>
                    <p class="lead">
                        Fabry-Perot measurements can accessed in the <a href="http://airglow.ece.illinois.edu/"> Airglow Research Group
                         website</a> from the <a href="http://airglow.ece.illinois.edu/">University of Illinois</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="box box-primary">
                        <div class="box-body no-padding">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /. box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}